@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300italic|Open+Sans);


html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 16px 'Open Sans', sans-serif;
	color: #222; 
	background: #fff url(img/zengarden.jpg) no-repeat fixed;
	margin: 0; 
	padding: 0;
	}
p { 	
	text-align: center;
	font-size: 18px;
	}
h1{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 91px;
	font-weight: 300;
}
h2{
	font-size: 22px;
	font-style: italic;
	font-weight: 100;
}
h3 { 
	font: italic normal 40px 'Josefin Sans', sans-serif;
	letter-spacing: 1px;	
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: lightseagreen;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: darkseagreen;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: mediumaquamarine;
	}
abbr {
	border-bottom: none;
	}
.intro { 
	width: 100%;
	}
header h2 { 
	margin: -10px auto 0; 
	text-align: right;
	width: 50%;	
	}
header {
	padding: 20px;	
	text-align: center;	
	background-image: url(img/zengarden5.jpg);
	background-attachment: fixed;
	background-size: cover;
	color: #222;
}

.summary {
	position: relative; 	
	margin: 0 auto 0;
	padding: 50px 100px 50px 100px;
	background-image: url(img/zengarden.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #f1f1f1;
	}
.summary p {
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}

.preamble {
	background: ivory;	
	position: relative;	
	margin: 0 auto 0;
	padding: 50px 100px 50px 100px;
	text-align: center;	
	}
.explanation{
	background-image: url(img/zengarden2.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: white;
	position: relative;	
	margin: 0 auto 0;
	padding: 50px 100px 50px 100px;
	text-align: center;
}
.participation{
	background: ivory;
	color: #222;
	position: relative;	
	margin: 0 auto 0;
	padding: 50px 100px 50px 100px;
	text-align: center;
}
.benefits{
	color: ivory;
	position: relative;
	margin: 0 auto 0;
	padding: 50px 100px 50px 100px;
	text-align: center;
}
.requirements{
	background-image: url(img/zengarden3.jpg);
	color: ivory;
	position: relative;
	margin: 0 auto 0;
	padding: 50px 100px 50px 100px;
	text-align: center;
	background-size: cover;
	background-attachment: fixed;
}
footer {
	background: teal;
	position: relative;
	margin: 0 auto 0;
	padding: 30px 100px 30px 100px;
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}
aside {
	clear: both; 
	display: block; 
	float: left;
	margin-bottom: -5px;
	width: 100%;
	}
aside, footer, header, nav, section{
	display: block;
}
aside .wrapper { 
	background: darkslategray;
	margin: -5px auto 0;
	padding: 50px 100px 50px 100px;
	position: relative;	
	margin-bottom: -5px;
	color: ivory;
	}
aside .wrapper ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
aside .wrapper ul li{
	margin-bottom: 12px;	
}
aside .wrapper .design-selection .design-name{
	display: block;
}
aside .wrapper .design-selection{
	float: left;
	margin-right: 40px;
	width: 40%;
}
aside .wrapper .design-selection .designer-name {
	display: block;
	font-size: 12px;
	letter-spacing: 1px;	  
}
aside .wrapper .zen-resources{
	margin-top: 40px;	
}
aside .wrapper .zen-resources ul li{	
	margin-right: 10px;
}
.sidebar h3.select { 	
	margin: 10px 0 5px 0;	
	}
.sidebar h3.archives {	
	margin: 10px 0 5px 0; 	
	}
.sidebar h3.resources { 
	margin: 10px 0 5px 0;	
	}
.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em; 
	background: transparent; 
	display: block; 	
	list-style-type: none;	
	}
.sidebar li a:visited {
	color: #B3AE94;
	}
aside .wrapper::after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;}


.extra1 {
	background: transparent; 
	position: absolute; 
	top: 40px; 
	right: 0; 
	width: 148px; 
	height: 110px;
	}
